.chart {
  width: 60vh;
  height: 45vh;
  padding-right: 30px;
}
.bar {
  background-color: #fefefe;
  box-shadow: 5px 10px 18px #e1dcdc;
  border-radius: 16px;
  padding: 10px 40px 10px 40px;
}

.country-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}
.noData {
  color: red;
}
