.dashBoard {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 5px 5vw 0 5vw;
}
.top-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  height: 325px;
}
.bottom-div {
  display: flex;
  flex-direction: row;

  padding: 0 10px 0 30px;
}
.first {
  height: 100px;
  align-items: center;
  text-align: center;
}
